html {
    scroll-behavior: smooth;
}

header {
    width: 100vw;
    height: 120vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://images.unsplash.com/photo-1609013304225-26a1b84ac180?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1772&q=80");
    background-size: cover;
    background-position: top left;
}

h1 {
    font-size: 3rem;
    color: #fff;
    text-shadow: 2px 2px 2px #000;
}

header a {
    background: #000;
    color: #fff;
    font-size: 1.5rem;
    text-align: center;
    padding: 1rem;
}

.scrollContainer {
    width: 100vw;
    min-height: 60vh;
    overflow: hidden;
    transition: background-image 2s;
}

.scrollText {
    margin: 20vh auto;
    max-width: 50rem;
    padding: 1rem;
    background: rgba(255, 255, 255, 0.8);
    color: #000;
}
#changingBg {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-bottom: 50vh;
}
#introduction {
    background-image: url("https://images.unsplash.com/photo-1571826856387-b633b9ebd93d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1770&q=80");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.textSection {
    max-width: 50rem;
    margin: 0 auto;
    display: block;
    clear: both;
}
.alignRight {
    top: 0%;
    float: right;
    margin: 0 0 1rem 1rem;
}
.circle {
    
    width: 500px;
    height: 600px;
    border:#000;
    padding-top: 0px;
    box-sizing: border-box;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/1/18/Lewis_Hamilton_2017_Malaysia.jpg/640px-Lewis_Hamilton_2017_Malaysia.jpg") ;
}
.redBg {
    top: 0%;
    color: #fff;
    padding-top: 0;
}
.greenBg {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/3/33/Michael_Schumacher-I%27m_the_man_%28cropped%29.jpg/640px-Michael_Schumacher-I%27m_the_man_%28cropped%29.jpg");
    color: #fff;
}
.blackBg{
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/b/b3/Sebastian_Vettel_2017_Malaysia_2.jpg/640px-Sebastian_Vettel_2017_Malaysia_2.jpg");
    color: #fff;
}
.big {
    text-align: center;
    font-size: 4rem;
    display: block;
    clear: both;
}
.small {
    text-align: center;
    font-size: 2rem;
    margin: 0 auto;
    display: block;
}